<link rel="stylesheet" href="main.component.css">
<div class="row mt-5 box-content">
    <div class="p-5 bg-light border">
        <div class="container">
            <h1 class="display-3">NVC Library</h1>
            <p class="lead">Lorem ipsum dolor sit amet.</p>
            <hr class="my-2">
            <p>From top to toe</p>
            <p class="lead">
                <a routerLink="/book" class="btn btn-primary btn-lg" href="Jumbo action link" role="button">View Book</a>
            </p>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="p-5 bg-light col-6 border box-content">
        <div class="container">
            <h1 class="display-6">Member Management</h1>
            <p class="lead">Lorem ipsum dolor sit amet.</p>
            <hr class="my-2">
            <p>From top to toe</p>
            <p class="lead">
                <a routerLink="/member" class="btn btn-primary btn-lg" href="Jumbo action link" role="button">View Member</a>
            </p>
        </div>
    </div>
    <div class="p-5 bg-light col ms-3 border box-content">
        <div class="container">
            <h1 class="display-6">Staff Management</h1>
            <p class="lead">Lorem ipsum dolor sit amet.</p>
            <hr class="my-2">
            <p>From top to toe</p>
            <p class="lead">
                <a routerLink="/staff" class="btn btn-primary btn-lg" href="Jumbo action link" role="button">View Staff</a>
            </p>
        </div>
    </div>
</div>
<div class="row my-5 border box-content">
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">
                Borrowed History
            </h1>
            <p class="lead">Lorem ipsum dolor sit amet.</p>
            <hr class="my-2">
            <p>From top to toe</p>
            <p class="lead">
                <a routerLink="/borrow" class="btn btn-primary btn-lg" href="Jumbo action link" role="button">View History</a>
            </p>
        </div>
    </div>
</div>
