<link rel="stylesheet" href="book.component.css">
<div class="row mt-3">
    <div class="col-md-12" style="text-align: right;">
        <a routerLink="/book/add" class="btn btn-success">Add new Book</a>
    </div>
</div>
<div class="row mt-3">
    <div class="h1">All Books</div>
    <div class="input-group my-3">
        <input type="text" class="form-control" placeholder="Book Name" />
        <button class="input-group-text btn btn-primary">Search</button>
    </div>
    <div class="col-md-12 mt-2">

        <div class="card mb-3 card-book ">
            <div class="card-header d-flex justify-content-between">
                <span><b>Book ID : </b>1001</span>
                <span><b>Status : </b>Not Borrowed</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Book Name</h5>
                <hr>
                <p class="card-text">
                    <span class="me-5"><b>Author : </b>Wasok</span>
                    <span class="me-5"><b>Publisher : </b>NVC</span>
                    <span class="me-5"><b>Price : </b>200</span>
                </p>
                <hr>
                <div class="card-text">
                    <span class="me-5"><b>Day can borrow :</b></span>
                    <span class="me-5"><b>[ student : </b>7 <b>]</b></span>
                    <span class="me-5"><b>[ teacher : </b>120 <b>]</b></span>
                </div>
                <hr>
                
                <div class="d-flex">
                    <div class="me-3">
                        <a routerLink="/book/edit/1" class="btn btn-warning">Edit</a>
                    </div>
                    <div class="me-3">
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                
            </div>
        </div>

        
        
    </div>
</div>