<link rel="stylesheet" href="return.component.css">
<div class="box-borrow container mt-5 p-5 w-50">
    <h1 class="mb-5 text-center">Add Return</h1>
    <form>

        

        <div class="mb-5">
            <h5>Staff Id</h5>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" required>
                  <option selected>Select Staff Id</option>
                  <option value="1">1001:Wasok</option>
                  <option value="2">1002:Mach</option>
                  <option value="3">1003:Jr</option>
                </select>
              </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <button type="submit" class=" btn-borrow">Confirm Return</button>
        </div>
    </form>
</div>