<link rel="stylesheet" href="login.component.css">
<div class="box-login container mt-5 p-5 w-50">
    <h1 class="mb-5 text-center">Login</h1>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Staff ID</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-5">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" required>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class=" btn-login">Login</button>
      </div>
    </form>
    <div class="row mt-5">
        <div class="col text-center" style="color:red">
            Error
        </div>
    </div>
</div>