
.box-member{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn-member{
    width: 50%;
    border: 0;
    border-radius: 25px;
    padding: 15px;
    background: #40C4FF;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.btn-member:hover{
    border-radius: 0;
    background: #00B0FF;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}